@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.a {

    &-fade-in {
        opacity: 0;
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: 0.2s;
        animation-delay: 0.6s;
    }
}

// For animating input on some of the base text components. This setup assumes
// that all animated elements will have one fade in animation. If that's not
// true, then using the animateOnScroll attribute might not be feasible.
[animateOnScroll] {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 1s, transform 1s;

    &.a-fade-in {
        opacity: 1;
        transform: translateY(0);
    }
}
