.background-color {

    // map of background colors
    $map-background-colors: (
        "transparent": transparent,
        "white": $white,
        "concrete": $concrete,
        "nobel": $nobel,
        "black": $black,
        "light-green": $light-green,
    );

    // background colors
    @each $name, $background in $map-background-colors {
        &-#{$name}{
            background: $background;
        }
    }
}
