// Update Storybook if you add/change anything here

// Colors named with either http://brendanberkley.gitlab.io/palette-pad/,
// various Wikipedia articles about shades of colors,
// or directly from design. Optimized for brevity and clarity

// Primary
$devacurl-green: #d9ff66;
$muted-green: #e5ff99;
$light-green: #efffc1;

// Secondary
$polar: #edfbfc;
$teal: #097e87;
$red: #ff3932;

// Neutral
$black: #000000;
$boulder: #767676;
$nobel: #b5b5b5;
$concrete: #f7f7f7;
$white: #ffffff;
