// flex-direction
.flex-direction-row{
    flex-direction: row;
}

.flex-direction-row-reverse{
    flex-direction: row-reverse;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-direction-column-reverse{
    flex-direction: column-reverse;
}

// align-items
.align-items-flex-start{
    align-items: flex-start;
}

.align-items-center{
    align-items: center;
}

.align-items-flex-end{
    align-items: flex-end;
}

// align-self
.align-self-flex-start{
    align-self: flex-start;
}

.align-self-center{
    align-self: center;
}

.align-self-flex-end{
    align-self: flex-end;
}