$fontPath: "/assets/fonts";

@font-face {
    font-family: $heading-font;
    src: url("#{$fontPath}/CanelaDeck-Black-Web.woff2") format("woff2"),
        url("#{$fontPath}/CanelaDeck-Black-Web.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: $base-font;
    src: url("#{$fontPath}/nb_international_pro_regular-webfont.woff2") format("woff2"),
        url("#{$fontPath}/nb_international_pro_regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $base-font;
    src: url("#{$fontPath}/nb_international_pro_italic-webfont.woff2") format("woff2"),
        url("#{$fontPath}/nb_international_pro_italic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: $base-font;
    src: url("#{$fontPath}/nb_international_pro_bold-webfont.woff2") format("woff2"),
        url("#{$fontPath}/nb_international_pro_bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: $base-font;
    src: url("#{$fontPath}/nb_international_pro_bold_italic-webfont.woff2") format("woff2"),
        url("#{$fontPath}/nb_international_pro_bold_italic-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

// @font-face {
//   font-family: $base-font;
//   src: url("#{$fontPath}/nb_international_pro_light-webfont.woff2") format("woff2"),
//     url("#{$fontPath}/nb_international_pro_light-webfont.woff") format("woff");
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: $base-font;
//   src: url("#{$fontPath}/nb_international_pro_light_italic-webfont.woff2") format("woff2"),
//     url("#{$fontPath}/nb_international_pro_light_italic-webfont.woff") format("woff");
//   font-weight: 300;
//   font-style: italic;
// }
