.input {
    width: 100%;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    background-color: $white;
    color: $black;
    transition: border-color 0.2s;
}

.form {
    // border with form element
    &__element-container {
        position: relative;
        display: flex;
        height: 2.8517em;
        font-size: 14px;
        line-height: 2.8517em;
        overflow: hidden;
    }

    &__select {
        @include coordinates(0%, 50%); // $xAxis, $yAxis
        width: 102%;
        height: 100%;
        padding-right: 0;
        cursor: pointer;
        text-indent: 5%;
        background: transparent;
        appearance: none;
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        z-index: 100;
    }

    &__svg-right{
        @include coordinates(95%, 50%); // $xAxis, $yAxis
    }

    // styles
    &__styles {
        @include span(12 of 12 0); // with no-gutters
        text-indent: 4px;

        // borders
        // map of border colors
        $map-border-colors: (
            "no-border": 0,
            "border-concrete": 1px solid $concrete,
            "border-black": 1px solid $black,
            "border-red": 1px solid $red,
        );

        // border colors
        @each $name, $border in $map-border-colors {
            &--#{$name}{
                border: $border;
            }
        }
    }
}
