.hover {
    position: relative;
    display: inline-block;

    &__top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

    &:hover {
        .hover__top {
            display: inline;
        }
    }
}
