.l{

    &-wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 100vh;
    }

    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        height: 100%;
        min-height: 100vh;
        text-align: left;
    }
    
    // max site width - max-width: 2280px
    &-max-site-width{
        @include container($max-site-width);
    }

    // content width - max-width: 1280px
    &-content{
        @include container();
    }
}
