.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-center-mobile {

    // $small, $medium;
    @include breakpoint($all-small) {
        text-align: center;
    }
}
