// Utility classes are prefixed with `u-` for namespacing benefits as well as
// the general benefit a developer who can see that and know where the class
// is located.
//
// This file was made by a pragmatist who wants to pool common utilites together
// but doesn't want to turn the repo into OOCSS. Try to have a good balance!

.u {
    // visibility
    &-is-visible {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    &-is-hidden {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    &-is-visible-desktop-only {
        display: block;
        visibility: visible;

        // $small, $medium
        @include breakpoint($all-small) {
            display: none !important;
            visibility: hidden;
        }
    }

    &-is-visible-mobile-only {
        display: none !important;
        visibility: hidden;

        // $small, $medium
        @include breakpoint($all-small) {
            display: block !important;
            visibility: visible;
        }
    }

    // hide content - screen readers only
    // https://zellwk.com/blog/hide-content-accessibly/
    &-visually-hidden {
        position: absolute;
        width: 1px;
        height: auto; /* new - was 1px */
        margin: 0; /* new - was -1px */
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
        white-space: nowrap; /* 1 */
    }

    // user can not select or click
    &-disabled {
        pointer-events: none;
        cursor: default;
    }

    // lists
    &-list-reset,
    &-list-reset li {
        margin: 0;
        padding: 0;
        text-indent: 0;
        list-style-type: none;
    }

    &-list-style-position-inside {
        list-style-position: inside;
    }

    &-list-style-position-outside {
        list-style-position: outside;
    }

    // form
    // hidden form elements
    &-hidden-form-element {
        position: absolute;
        top: -9999px;
        left: -9999px;
        width: 0;
        height: 0;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        z-index: -10;
    }

    // text-decoration
    &-strikethrough {
        text-decoration: line-through;
    }

    // width
    &-full-width {
        position: relative;
        @include span(12 of 12 0); // with no-gutters
        display: block;

        &-mobile {
            @include breakpoint($all-small) {
                position: relative;
                @include span(12 of 12 0); // with no-gutters
                display: block;
            }
        }
    }

    // equal height
    &-equal-height {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        &__column {
            flex-grow: 0;
            flex-shrink: 1;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}
