// Font stuff
$base-font: "NB International";

// The default font family.
$base-font-family: $base-font, "News Gothic MT", "Helvetica", "Arial",
  "sans-serif";

$heading-font: "Canela Deck";
$heading-font-family: "Canela Deck", serif;

// cloudinary image path
$image-path: "https://res.cloudinary.com/devacurl/image/upload/f_auto,q_auto";
