@import "scss/base";

.light {
    color: $white;
}

.bold {
    font-weight: 700;
}

.caption {
    font-size: 13px;
    line-height: 1.5385em;

    @include breakpoint($medium) {
        font-size: 12px;
    }

    @include breakpoint($small) {
        font-size: 11px;
    }
}

.copy {
    font-size: 16px;
    line-height: 1.5em;

    @include breakpoint($medium) {
        font-size: 15px;
    }

    @include breakpoint($small) {
        font-size: 14px;
    }
}

.quote {
    position: relative;
    margin: 0;
    quotes: "“" "”" "‘" "’";
    text-transform: none;

    &:before,
    &:after {
        position: absolute;
        font-size: 5em;
        color: $devacurl-green;
        font-family: $heading-font-family;
        z-index: -1;
    }

    &:before {
        content: open-quote;
        transform: translateX(-100%);
        line-height: 0.57em;
        transform: translateX(-80%);
    }

    &:after {
        position: absolute;
        content: close-quote;
        line-height: 0.85em;
        transform: translateX(-30%);
    }
}
