<ng-template #innerTemplate><ng-content></ng-content></ng-template>
<ng-container *ngIf="animate; else noAnimation">
	<h1
		*ngIf="tag === 'h1'"
		[class]="theme"
		animateOnScroll
		animationName="a-fade-in"
	>
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</h1>
	<h2
		*ngIf="tag === 'h2'"
		[class]="theme"
		animateOnScroll
		animationName="a-fade-in"
	>
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</h2>
	<h3
		*ngIf="tag === 'h3'"
		[class]="theme"
		animateOnScroll
		animationName="a-fade-in"
	>
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</h3>
	<h4
		*ngIf="tag === 'h4'"
		[class]="theme"
		animateOnScroll
		animationName="a-fade-in"
	>
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</h4>
	<h5
		*ngIf="tag === 'h5'"
		[class]="theme"
		animateOnScroll
		animationName="a-fade-in"
	>
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</h5>
	<div
		*ngIf="tag === 'div'"
		[class]="theme"
		animateOnScroll
		animationName="a-fade-in"
	>
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</div>
	<span
		*ngIf="tag === 'span'"
		[class]="theme"
		animateOnScroll
		animationName="a-fade-in"
	>
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</span>
	<p
		*ngIf="tag === 'p'"
		[class]="theme"
		animateOnScroll
		animationName="a-fade-in"
	>
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</p>
</ng-container>
<ng-template #noAnimation>
	<h1 [class]="theme" *ngIf="tag === 'h1'">
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</h1>
	<h2 [class]="theme" *ngIf="tag === 'h2'">
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</h2>
	<h3 [class]="theme" *ngIf="tag === 'h3'">
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</h3>
	<h4 [class]="theme" *ngIf="tag === 'h4'">
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</h4>
	<h5 [class]="theme" *ngIf="tag === 'h5'">
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</h5>
	<div [class]="theme" *ngIf="tag === 'div'">
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</div>
	<span [class]="theme" *ngIf="tag === 'span'">
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</span>
	<p [class]="theme" *ngIf="tag === 'p'">
		<ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
	</p>
</ng-template>
