@import "scss/base";

:host {
    &.light {
        .h1,
        .h2,
        .h3 {
            color: $devacurl-green;
        }

        .h4,
        .h5 {
            color: $white;
        }
    }
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    display: inherit;
    color: inherit;
    margin: 0;
}

.h1,
.h2,
.h3 {
    font-weight: 900;
    font-family: $heading-font-family;
    text-transform: lowercase;
}

.h1 {
    padding-bottom: 0.2em;
    font-size: 60px;
    line-height: 0.9167em;

    @include breakpoint($medium) {
        font-size: 50px;
    }

    @include breakpoint($small) {
        font-size: 40px;
    }
}

.h2 {
    padding-bottom: 0.1em;
    font-size: 45px;
    line-height: 1.1111em;

    @include breakpoint($medium) {
        font-size: 40px;
    }

    @include breakpoint($small) {
        font-size: 35px;
    }
}

.h3 {
    padding-bottom: 0.1em;
    font-size: 30px;
    line-height: 1.1667em;

    @include breakpoint($medium) {
        font-size: 26px;
    }

    @include breakpoint($small) {
        font-size: 22px;
    }
}

.h4 {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4211em;

    @include breakpoint($medium) {
        font-size: 16px;
    }

    @include breakpoint($small) {
        font-size: 13px;
    }
}

.h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.5px;

    @include breakpoint($medium) {
        font-size: 15px;
    }

    @include breakpoint($small) {
        font-size: 14px;
    }
}
