@import 'scss/base';

label {
    position: absolute;
    color: $black;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 11px;
    text-decoration: none;
    transition: color 0.2s;
    z-index: 1002;
    pointer-events: none;
    user-select: none;

    &.active {
        color: $boulder;
    }

    @include breakpoint($medium) {
        font-size: 15px;
    }

    @include breakpoint($small) {
        font-size: 14px;
    }

    &:hover {
        color: $black;
    }
}

.option-template {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

app-image {
    $image-size: 30px;
    display: inline-block;
    width: $image-size;
    height: $image-size;
    margin-right: 8px;
    border-radius: $image-size;
    flex-shrink: 0;
    overflow: hidden;
}

.label {
    flex: 1;
}

::ng-deep {
    .ng-select {
        background-color: transparent;
        transition: background-color 0.1s;
        box-shadow: 0 0 0 0 $devacurl-green;
        transition: box-shadow 0.2s;

        &.ng-select-focused:not(.ng-select-opened) {
            box-shadow: 3px 3px 0 0 $devacurl-green;
        }

        .ng-select-container {
            min-height: 36px;

            .ng-arrow-wrapper {
                .ng-arrow {
                    height: 36px;
                    width: 36px;

                    &:before {
                        content: '∟';
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                        line-height: 36px;
                        transform: rotate(-45deg) translate(0%, -10%);
                    }
                }
            }
        }

        .ng-select-container {
            border: 1px solid $black;
        }

        &.ng-select-opened {
            background-color: $concrete;

            .ng-select-container {
                .ng-arrow-wrapper {
                    .ng-arrow:before {
                        transform: rotate(135deg) translate(10%, -5%);
                    }
                }
            }

            &.ng-select-bottom {
                .ng-select-container {
                    border-bottom: 0;
                }
            }
        }

        .ng-dropdown-panel {
            background-color: $white;
            border: 1px solid $black;
            border-top: 0;
        }
    }

    .ng-dropdown-panel-items .ng-option {
        line-height: 26px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: transparent;
        transition: background-color 0.3s;

        &:hover,
        &.ng-option-marked {
            background-color: $light-green;
            transition: background-color 0.1s;
        }

        .checkbox {
            display: inline-block;
            width: 19px;
            height: 19px;
            margin-left: 8px;
            background-color: $white;
            box-shadow: 0 0 0 0 $devacurl-green;
            border: 1px solid $boulder;
            transition: box-shadow 0.2s, background-color 0.2s;
            flex-shrink: 0;

            svg {
                display: block;
                width: 12px;
                height: 12px;
                margin: 3px;
                fill: transparent;
                transition: fill 0.2s;
            }
        }

        &.ng-option-selected {
            .checkbox {
                box-shadow: 2px 2px 0 0 $devacurl-green;
                svg {
                    fill: $black;
                }
            }

            &:hover .checkbox {
                box-shadow: 1px 1px 0 0 $devacurl-green;
            }
        }
    }
}
