<ng-template #innerTemplate
    ><span><ng-content></ng-content></span
></ng-template>
<ng-container *ngIf="href; else internalBlock">
    <a
        [href]="href"
        [target]="target === undefined ? '_blank' : target"
        [class]="display"
        [class.unstyled]="theme === 'unstyled'"
        [class.button-common]="theme === 'button' || theme === 'button-flashy'"
        [class.button-theme]="theme === 'button'"
        [class.button-flashy-theme]="theme === 'button-flashy'"
        [class.green-button]="greenButton"
        [class.text-common]="theme === 'text-link' || theme === 'tabs'"
        [class.text-link-theme]="theme === 'text-link'"
        [class.tabs-theme]="theme === 'tabs'"
        [class.dropdown-theme]="theme === 'dropdown'"
        [class.vertical-margin]="verticalMargin"
        [class.vertical-margin-small]="verticalMarginSmall"
        [class.active]="
            active === true || (active === undefined && theme === 'text-link')
        "
        [class.light]="
            light === true &&
            (theme === 'text-link' || theme === 'tabs' || theme === 'unstyled')
        "
        [class.u-full-width]="fullWidth"
        [class.u-full-width-mobile]="fullWidthMobile"
        [attr.tabindex]="clickableTabIndex"
    >
        <ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
    </a>
</ng-container>
<ng-template #internalBlock>
    <a
        *ngIf="routerLink && routerLink.length; else useButton"
        [routerLink]="routerLink"
        [target]="target === undefined ? '_self' : target"
        [queryParams]="queryParams"
        [class]="display"
        [class.unstyled]="theme === 'unstyled'"
        [class.button-common]="theme === 'button' || theme === 'button-flashy'"
        [class.button-theme]="theme === 'button'"
        [class.button-flashy-theme]="theme === 'button-flashy'"
        [class.green-button]="greenButton"
        [class.text-common]="theme === 'text-link' || theme === 'tabs'"
        [class.text-link-theme]="theme === 'text-link'"
        [class.tabs-theme]="theme === 'tabs'"
        [class.dropdown-theme]="theme === 'dropdown'"
        [class.vertical-margin]="verticalMargin"
        [class.vertical-margin-small]="verticalMarginSmall"
        [class.active]="
            active === true || (active === undefined && theme === 'text-link')
        "
        [class.light]="
            light === true &&
            (theme === 'text-link' || theme === 'tabs' || theme === 'unstyled')
        "
        [class.u-full-width]="fullWidth"
        [class.u-full-width-mobile]="fullWidthMobile"
        [attr.tabindex]="clickableTabIndex"
    >
        <ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
    </a>
    <ng-template #useButton>
        <button
            [class]="display"
            [class.unstyled]="theme === 'unstyled'"
            [class.button-common]="
                theme === 'button' || theme === 'button-flashy'
            "
            [class.button-theme]="theme === 'button'"
            [class.button-flashy-theme]="theme === 'button-flashy'"
            [class.green-button]="greenButton"
            [class.text-common]="theme === 'text-link' || theme === 'tabs'"
            [class.text-link-theme]="theme === 'text-link'"
            [class.tabs-theme]="theme === 'tabs'"
            [class.dropdown-theme]="theme === 'dropdown'"
            [class.vertical-margin]="verticalMargin"
            [class.vertical-margin-small]="verticalMarginSmall"
            [class.active]="
                active === true ||
                (active === undefined && theme === 'text-link')
            "
            [class.u-full-width]="fullWidth"
            [class.u-full-width-mobile]="fullWidthMobile"
            [attr.tabindex]="clickableTabIndex"
        >
            <ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
        </button>
    </ng-template>
    <ng-template> </ng-template
></ng-template>
