/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */
@import 'scss/base';

/*
    We have flickity's watchCSS option set to true (https://flickity.metafizzy.co/options.html#watchcss)
    We want the carousel to be active by default, which is what this block of css does

    In this example the carousel is inactive by default, but becomes active on small breakpoints:
    ```
        flickity-carousel:after {
            content: '';

            @include($breakpoint-small) {
                content: 'flickity';
            }
    ```
*/
:host > div:after {
    content: 'flickity';
    display: none;
}

::ng-deep {
    .flickity-enabled {
        position: relative;

        &:focus {
            outline: none;
        }
    }

    .flickity-viewport {
        overflow: hidden;
        position: relative;
        height: 100%;
    }

    .flickity-slider {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    /* draggable */

    .flickity-enabled.is-draggable {
        -webkit-tap-highlight-color: transparent;
        -tap-highlight-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .flickity-viewport {
            cursor: move;
            cursor: -webkit-grab;
            cursor: grab;

            &.is-pointer-down {
                cursor: -webkit-grabbing;
                cursor: grabbing;
            }
        }
    }

    /* ---- flickity-button ---- */

    .flickity-button {
        position: absolute;
        background: transparent;
        border: none;
        transition: background-color 0.15s, fill 0.15s;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 5px #19f;
        }

        &:active {
            opacity: 0.6;
        }

        &:disabled {
            opacity: 0.3;
            cursor: auto;
            /* prevent disabled button from capturing pointer up event. #716 */
            pointer-events: none;
        }
    }

    /* ---- previous/next buttons ---- */

    .flickity-prev-next-button {
        top: 50%;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        /* vertically center */
        transform: translateY(-50%);

        @include breakpoint($small) {
            display: none;
        }

        &.previous {
            left: 10px;

            @include breakpoint($all-small) {
                display: none;
            }

            .flickity-rtl & {
                left: auto;
                right: 10px;
            }
        }

        &.next {
            right: 10px;

            @include breakpoint($all-small) {
                display: none;
            }

            .flickity-rtl & {
                right: auto;
                left: 10px;
            }
        }

        .flickity-button-icon {
            position: absolute;
            left: 20%;
            top: 20%;
            width: 60%;
            height: 60%;
        }
    }

    /* ---- page dots ---- */

    .flickity-page-dots {
        position: relative;
        width: 100%;
        bottom: 20px;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        line-height: 1;

        .flickity-rtl & {
            direction: rtl;
        }

        .dot {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 0 8px;
            background: transparent;

            border-radius: 50%;
            cursor: pointer;
        }

        @include breakpoint($all-small) {
            top: 30px;
        }
    }

    /* ---- color specific styles for light / dark ---- */

    .light {
        .flickity-button {
            fill: $white;

            &:hover {
                fill: $boulder;
                background: $white;
            }
        }

        .flickity-page-dots {
            .dot {
                border: 1.5px solid $white;
                &.is-selected {
                    background: $white;
                    opacity: 1;
                }
            }
        }
    }

    .dark {
        .flickity-button {
            fill: $black;

            &:hover {
                fill: $white;
                background: $black;
            }
        }

        .flickity-page-dots {
            .dot {
                background: $nobel;

                &.is-selected {
                    background: $black;
                    opacity: 1;
                }
            }
        }
    }

    /* Flickity fullscreen v1.0.1
    ------------------------- */

    .flickity-enabled.is-fullscreen {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: hsla(0, 0%, 0%, 0.9);
        padding-bottom: 35px;
        z-index: 1;
    }

    .flickity-enabled.is-fullscreen .flickity-page-dots {
        bottom: 10px;
    }

    .flickity-enabled.is-fullscreen .flickity-page-dots .dot {
        background: white;
    }

    /* prevent page scrolling when flickity is fullscreen */
    html.is-flickity-fullscreen {
        overflow: hidden;
    }

    /* ---- flickity-fullscreen-button ---- */

    .flickity-fullscreen-button {
        display: block;
        right: 10px;
        top: 10px;
        width: 24px;
        height: 24px;
        border-radius: 4px;
    }

    /* right-to-left */
    .flickity-rtl .flickity-fullscreen-button {
        right: auto;
        left: 10px;
    }

    .flickity-fullscreen-button-exit {
        display: none;
    }

    .flickity-enabled.is-fullscreen .flickity-fullscreen-button-exit {
        display: block;
    }
    .flickity-enabled.is-fullscreen .flickity-fullscreen-button-view {
        display: none;
    }

    .flickity-fullscreen-button .flickity-button-icon {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 4px;
        top: 4px;
    }
}
