@import "scss/base";

.ingredient-bar {
    @include span(10);
    @include push(1);
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;

        // $small, $medium;
        @include breakpoint($all-small) {
            @include span(12);
            @include push(0);
        }

    &__icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__caption{
        text-align: center;
    }
}