<div class="u-full-width"
    [class.background-color-light-green]="backgroundColorLightGreen">
    <div class="l-content">
        <section class="ingredient-bar u-equal-height">
            <div
                class="ingredient-bar__icon-container u-equal-height__column"
                [class.u-is-visible-desktop-only]="!cmsData.icon1">
                <div class="ingredient-bar__icon">
                    <app-svg
                        svgStyles="svg--large svg--black"
                        aria="sulfate-free"
                        title="Sulfate-Free"
                        desc="Sulfate-Free Icon"
                        svgId="#sulfate-free"></app-svg>
                </div>
                <app-caption class="ingredient-bar__caption vertical-margin-small">Sulfate-Free</app-caption>
            </div>
            <div
                class="ingredient-bar__icon-container u-equal-height__column"
                [class.u-is-visible-desktop-only]="!cmsData.icon2">
                <div class="ingredient-bar__icon">
                    <app-svg
                        svgStyles="svg--large svg--black"
                        aria="paraben-free"
                        title="Paraben-Free"
                        desc="Paraben-Free Icon"
                        svgId="#paraben-free"></app-svg>
                </div>
                <app-caption class="ingredient-bar__caption vertical-margin-small">Paraben-Free</app-caption>
            </div>
            <div
                class="ingredient-bar__icon-container u-equal-height__column"
                [class.u-is-visible-desktop-only]="!cmsData.icon3">
                <div class="ingredient-bar__icon">
                    <app-svg
                        svgStyles="svg--large svg--black"
                        aria="silicone-free"
                        title="Silicone-Free"
                        desc="Silicone-Free Icon"
                        svgId="#silicone-free"></app-svg>
                </div>
                <app-caption class="ingredient-bar__caption vertical-margin-small">Silicone-Free</app-caption>
            </div>
            <div
                class="ingredient-bar__icon-container u-equal-height__column"
                [class.u-is-visible-desktop-only]="!cmsData.icon4">
                <div class="ingredient-bar__icon">
                    <app-svg
                        svgStyles="svg--large svg--black"
                        aria="vegan"
                        title="100% Vegan"
                        desc="100% Vegan Icon"
                        svgId="#vegan"></app-svg>
                </div>
                <app-caption class="ingredient-bar__caption vertical-margin-small">100% Vegan</app-caption>
            </div>
            <div
                class="ingredient-bar__icon-container u-equal-height__column"
                [class.u-is-visible-desktop-only]="!cmsData.icon5">
                <div class="ingredient-bar__icon">
                    <app-svg
                        svgStyles="svg--large svg--black"
                        aria="cruelty-free"
                        title="Cruelty-Free"
                        desc="Cruelty-Free Icon"
                        svgId="#cruelty-free"></app-svg>
                </div>
                <app-caption class="ingredient-bar__caption vertical-margin-small">Cruelty-Free</app-caption>
            </div>
        </section>
    </div>
</div>