<div class="dropdown form">
    <select
        class="form__select form__styles--border-black"
        [(ngModel)]="selectedItems"
        id="items"
        name="items"
    >
        <option value="" disabled>{{ title }}</option>
        <option *ngFor="let item of items" [value]="item.label">{{
            item.label
        }}</option>
    </select>
    <app-clickable display="inline-block" class="dropdown__overlay">{{
        selectedItems ? selectedItems : title
    }}</app-clickable>
</div>
