<div class="l-max-site-width">
  <app-ingredient-bar
    [cmsData]="ingredients"
    [backgroundColorLightGreen]="true"
  ></app-ingredient-bar>

  <footer class="l-footer">
    <nav class="l-footer__row">
      <article class="l-footer__links">
        <section class="l-footer__column">
          <app-h5>{{ section1.title }}</app-h5>
          <ul class="u-list-reset">
            <li>
              <app-clickable
                theme="text-link"
                display="inline-block"
                [active]="false"
                href="tel:212-555-5555"
              >
                212-555-5555
              </app-clickable>
            </li>
            <li>
              <app-clickable
                theme="text-link"
                display="inline-block"
                [active]="false"
                href="mailto:help@thelabnyc.com"
              >
                help@thelabnyc.com
              </app-clickable>
            </li>
            <li *ngFor="let item of section1.items">
              <app-clickable
                theme="text-link"
                display="inline-block"
                [active]="false"
                href="{{ item.link }}"
              >
                <app-copy>{{ item.text }}</app-copy>
              </app-clickable>
            </li>
          </ul>
        </section>
        <section class="l-footer__column">
          <app-h5>{{ section2.title }}</app-h5>
          <ul class="u-list-reset">
            <li *ngFor="let item of section2.items">
              <app-clickable
                theme="text-link"
                display="inline-block"
                [active]="false"
                href="{{ item.link }}"
              >
                <app-copy>{{ item.text }}</app-copy>
              </app-clickable>
            </li>
          </ul>
        </section>
        <section class="l-footer__column">
          <app-h5>{{ section3.title }}</app-h5>
          <ul class="u-list-reset">
            <li *ngFor="let item of section3.items">
              <app-clickable
                theme="text-link"
                display="inline-block"
                [active]="false"
                href="{{ item.link }}"
              >
                <app-copy>{{ item.text }}</app-copy>
              </app-clickable>
            </li>
          </ul>
        </section>
        <section class="l-footer__column">
          <app-h5>{{ section4.title }}</app-h5>
          <ul class="u-list-reset">
            <li *ngFor="let item of section4.items">
              <app-clickable
                theme="text-link"
                display="inline-block"
                [active]="false"
                href="{{ item.link }}"
              >
                <app-copy>{{ item.text }}</app-copy>
              </app-clickable>
            </li>
          </ul>
        </section>
      </article>
      <article class="l-footer__social">
        <app-h5>{{ section5.title }}</app-h5>
        <div class="form l-footer__social-form">
          <div class="form__element-container form__styles--no-border">
            <label for="email" class="u-visually-hidden">Email</label>
            <input
              class="form__styles form__styles--no-border l-footer__social-input"
              type="email"
              name="email"
              id="email"
              placeholder="name@email.com"
              autocorrect="off"
              autocomplete="email"
            />
            <app-clickable
              class="l-footer__social-button"
              theme="button"
              href="#link"
              >Sign Up</app-clickable
            >
          </div>
        </div>
        <div class="l-footer__social-icons">
          <app-clickable
            theme="unstyled"
            display="inline-block"
            class="l-footer__social-icon"
            href="https://www.facebook.com"
          >
            <app-svg
              svgStyles="svg--small svg--black"
              aria="facebook"
              title="Facebook"
              desc="Check out thelab on Facebook"
              svgId="#facebook"
            ></app-svg>
          </app-clickable>
          <app-clickable
            theme="unstyled"
            display="inline-block"
            class="l-footer__social-icon"
            href="https://twitter.com"
          >
            <app-svg
              svgStyles="svg--small svg--black"
              aria="twitter"
              title="Twitter"
              desc="Check out thelab on Twitter"
              svgId="#twitter"
            ></app-svg>
          </app-clickable>
          <app-clickable
            theme="unstyled"
            display="inline-block"
            class="l-footer__social-icon"
            href="https://www.instagram.com/"
          >
            <app-svg
              svgStyles="svg--small svg--black"
              aria="instagram"
              title="Instagram"
              desc="Check out thelab on Instagram"
              svgId="#instagram"
            ></app-svg>
          </app-clickable>
          <app-clickable
            theme="unstyled"
            display="inline-block"
            class="l-footer__social-icon"
            href="https://www.pinterest.com"
          >
            <app-svg
              svgStyles="svg--small svg--black"
              aria="pinterest"
              title="Pinterest"
              desc="Check out thelab on Pinterest"
              svgId="#pinterest"
            ></app-svg>
          </app-clickable>
          <app-clickable
            theme="unstyled"
            display="inline-block"
            class="l-footer__social-icon"
            href="https://www.youtube.com/"
          >
            <app-svg
              svgStyles="svg--small svg--black"
              aria="youtube"
              title="Youtube"
              desc="Check out on Youtube"
              svgId="#youtube"
            ></app-svg>
          </app-clickable>
        </div>
      </article>
    </nav>
    <nav class="l-footer__row l-footer__row--legal">
      <span class="legal-link" *ngFor="let item of section6.items">
        <app-clickable
          theme="text-link"
          display="inline-block"
          [active]="false"
          href="{{ item.link }}"
        >
          <app-copy>{{ item.text }}</app-copy>
        </app-clickable>
      </span>
    </nav>
  </footer>
</div>
