@import "scss/base";

.l-footer {
    @include span(12 of 12 0); // with no-gutters
    padding-left: 20px;
    padding-right: 20px;
    background: $white;
    color: $black;

    // rows
    &__row {
        @include container();
        display: flex;
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid $boulder;

        // $small, $medium
        @include breakpoint($all-small) {
            padding-top: 30px;
            padding-bottom: 30px;
            flex-direction: column-reverse;
        }

        &--legal{
            padding-top: 20px;
            margin-bottom: 0;
            border-bottom: 0;
            display: flex;

            // $large, $xlarge
            @include breakpoint($all-large) {
                justify-content: flex-end;
            }

            // $small, $medium
            @include breakpoint($all-small) {
                flex-direction: row;
                justify-content: center;
            }

            .legal-link{
                margin-right: 20px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    // left side
    &__links{
        @include span(8 of 12 0); // with no-gutters

        // $large
        @include breakpoint($large) {
             @include span(9 of 12 0); // with no-gutters
        }

        // $small, $medium
        @include breakpoint($all-small) {
            @include span(12 of 12 0); // with no-gutters
            padding-top: 30px;
            text-align: center;
        }
    }

    // right side
    &__social{
        @include span(4 of 12 0); // with no-gutters

        // $large
        @include breakpoint($large) {
            @include span(3 of 12 0); // with no-gutters
        }

        // $small, $medium
        @include breakpoint($all-small) {
            @include span(12 of 12 0); // with no-gutters
            padding-bottom: 30px;
            text-align: center;
            border-bottom: 1px solid $boulder;
        }
    }

    &__social-form{
        margin-top: 10px;
        margin-bottom: 24px;
    }

    &__social-input{
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        border-left: 1px solid $black;
    }

    // social icons
    &__social-icons{
        display: flex;

        // $small, $medium
        @include breakpoint($all-small) {
            justify-content: center;
        }
    }

    &__social-icon{
        margin-right: 14px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    // columns - for the links
    &__column {
        @include span(3 of 12 0); // with no-gutters
        padding-right: 10px;

        // $small, $medium
        @include breakpoint($all-small) {
            @include span(12 of 12 0); // with no-gutters
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        ul{
            margin-top: 20px;

            li {
                margin-bottom: 10px;
            }
        }
    }
}
